/* == Menu == */

.main_nav {
    position: fixed;
    top: 0px;
    height: 50px;
    z-index: 999;
    width: 100%;
    padding-top: 25px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;
}

@media only screen and (min-width: 766px) {
    .main_nav {
        padding-top: 17px;
    }
}

.sticky {
    background-color: var(--background-primary);
    opacity: 1;
    top: 0;
}

nav {
    width: 100%;
    margin-top: 5px;
}


nav ul {
    list-style: none;
    overflow: hidden;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 22px;
    text-align: center;
    width: 100%;
}


nav ul a {
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width: 840px) {
    nav ul a {
        font-size: 14px;
    }
}

nav ul a:hover {
    color: var(--accent-hover);
}

nav ul a:active {
    color: var(--accent-hover);
}

nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 1.5;
    letter-spacing: 0px;
}

@media only screen and (min-width: 780px) {
    nav ul li {
        letter-spacing: 1px;
    }
}


.section-nav {
    color: var(--accent);
}

@media only screen and (max-width: 766px) {
    nav ul li {
        width: 100%;
        padding: 7px 0;
        margin: 0;
    }

    nav ul li:first-child {
        margin-top: 70px;
    }

    header .container {
        display: flex;
        justify-content: end;
        height: 100%;
        background-color: var(--background-primary);
    }


    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: fixed;
        background-color: transparent;
        right: 5%;
        top: 0;
        height: 30px;
        width: 30px;
        padding: 20px 20px;
        margin-bottom: 20px;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        z-index: 1002;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .hamburger.is-active {
        background-color: none;
    }

    ._layer {
        background: var(--text-primary);
        margin-bottom: 4px;
        border-radius: 2px;
        width: 28px;
        height: 2px;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }

    .hamburger:hover .-top {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    .hamburger:hover .-bottom {
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }

    .hamburger.is-active .-top {
        background: var(--text-primary);
        -webkit-transform: translateY(200%) rotate(45deg) !important;
        -ms-transform: translateY(200%) rotate(45deg) !important;
        transform: translateY(200%) rotate(45deg) !important;
    }

    .hamburger.is-active .-mid {
        opacity: 0;
    }

    .hamburger.is-active .-bottom {
        background: var(--text-primary);
        -webkit-transform: translateY(-200%) rotate(135deg) !important;
        -ms-transform: translateY(-200%) rotate(135deg) !important;
        transform: translateY(-200%) rotate(135deg) !important;
    }

    .menuppal.is_active {
        transform: translate3d(0px, 0px, 0px);
    }

    .menuppal {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 15vw;

        background-color: var(--background-primary);
        bottom: 0;
        height: min-content;
        left: 0;
        overflow-y: scroll;
        scroll-behavior: smooth;
        position: fixed;
        top: 0;
        transform: translate3d(0px, -105%, 0px);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        width: 100%;
        z-index: 1;
    }

    .menuppal ul {
        margin: 0;
        padding: 0;
    }

    .menuppal ul li {
        list-style: none;
        text-align: start;
        font-size: 1.5rem;
        line-height: 3em;
        height: 3em;
        color: var(--text-primary);
        text-transform: none;
        font-weight: bold;
        margin: 0;
    }

    .menuppal ul li a {
        text-decoration: none;
        cursor: pointer;
        color: var(--text-primary);
        display: inline-block;
        width: 50%;
    }

    .menuppal ul li a:active {
        text-decoration: none;
        color: var(--accent);
        cursor: pointer;
    }
}