/* == Fuentes de Google == */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300");

:root {
    --white: #fff;
    --black: #000;
}

.light-theme {

    /**
     * Colores para la versión light 
     */

    --background-primary: hsl(0, 0%, 100%);
    --background-secondary: hsl(0, 0%, 95%);

    --action-primary: hsl(214, 32%, 91%);
    --action-secondary: hsl(210, 38%, 95%);

    --text-primary: hsl(218, 23%, 23%);
    --text-secondary: hsl(216, 15%, 52%);
    --text-tertiary: hsl(214, 20%, 69%);

    --accent: hsl(229, 76%, 66%);
    --accent-2: #667fea;
    --accent-hover: hsl(0, 63%, 38%);

    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

.dark-theme {

    /**
     * Colores para la versión dark
     */

    --background-primary: hsl(0, 0%, 0%);
    --background-secondary: hsla(240, 3%, 10%);

    --action-primary: hsl(216, 15%, 52%);
    --action-secondary: hsl(218, 23%, 23%);

    --text-primary: hsl(210, 38%, 95%);
    --text-secondary: hsl(211, 25%, 84%);
    --text-terciary: hsl(214, 20%, 69%);

    --accent: hsl(0, 63%, 38%);
    --acent-2: #9e2424;
    --accent-hover: hsl(229, 76%, 66%);

    --box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24);

}


a.btn {
    background: var(--accent);
    color: var(--white);
    display: inline-block;
    padding: 6px 30px 8px;
    position: relative;
    text-decoration: none;
    transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
    background: var(--accent-hover);
    transform: translateY(-2px);
    transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
    background: var(--accent-hover);
    *box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
    transform: translate3d(0, 1px, 0);
    transition: all 0.025s 0s ease-out;
}

div.cards {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; */

    display: grid;
    grid-template-columns: 1fr;

    margin: 60px auto;
    max-width: 100%;
    width: 100%;
    text-align: center;

    @media (min-width: 500px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 800px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

div.card {
    background: var(--background-primary);
    display: inline-block;
    margin: 10px;
    max-width: 100%;
    min-width: 150px;
    perspective: 1000;
    position: relative;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    *width: calc((100% / 3) - 20px);
    z-index: 1;

    @media (min-width: 500px) and (min-resolution: 390dpi) {
        min-width: calc((100% / 2) - 20px);
    }

    /* @media screen and (min-width: 770px) {
        max-width: calc((100% / 2));
        min-width: calc((100% / 4));
    }

    @media screen and (min-width: 1000px) {
        max-width: calc((100% / 3));
        min-width: calc((100% / 6));
    } */
    /* @media screen and (min-resolution: 192dpi) {
        max-width: calc((100% / 4));
        min-width: calc((100% / 6));
    } */

    img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .card__image-holder {
        height: 0;
        padding-bottom: 75%;
    }

    div.card-title {
        background: var(--background-primary);
        padding: 6px 15px 10px;
        position: relative;
        z-index: 0;

        h2 {
            font-size: 24px;
            *font-weight: 700;
            letter-spacing: -0.05em;
            margin: 0;
            padding: 0;

            small {
                display: block;
                font-size: 18px;
                *font-weight: 600;
                letter-spacing: -0.025em;
            }
        }
    }

    div.card-description {
        padding: 0 15px 10px;
        position: relative;
        font-size: 14px;
    }

    div.card-actions {
        padding: 10px 15px 20px;
        text-align: center;
    }

    div.card-flap {
        background: var(--background-primary);
        position: absolute;
        width: 100%;
        transform-origin: top;
        transform: rotateX(-90deg);
    }

    div.flap1 {
        transition: all 0.3s 0.3s ease-out;
        z-index: -1;
    }

    div.flap2 {
        transition: all 0.1s 0s ease-out;
        z-index: -2;
    }

}

div.cards.showing {
    div.card {
        cursor: pointer;
        opacity: 0.6;
        transform: scale(0.88);
    }
}

.no-touch div.cards.showing {
    div.card:hover {
        opacity: 0.94;
        transform: scale(0.92);
    }
}

div.card.show {
    opacity: 1 !important;
    transform: scale(1) !important;

    div.card-title {
        a.toggle-info {
            background: var(--accent-hover)  !important;

            span {
                top: 15px;
            }

            span.left {
                right: 10px;
            }

            span.right {
                left: 10px;
            }
        }
    }

    div.card-flap {
        background: var(--background-primary) !important;
        transform: rotateX(0deg);
    }

    div.flap1 {
        transition: all 0.1s 0s ease-out;
    }

    div.flap2 {
        transition: all 0.1s 0.2s ease-out;
    }
}